# Логика разделения конфигурации и данных
DIVIDE_CONFIG_BY_ASSET=False  # Разделять JSON-конфиги по каждому оборудованию
DIVIDE_DATA_BY_ASSET=True  # Разделять файлы данных по каждому оборудованию

# Названия файлов
LIST_OF_SIGNALS_NAME=DEMO List of signals rus.xlsx  # Файл со списком сигналов
EXCEL_DATA_NAME=data  # Базовое имя файла с данными
JSON_CONFIG_NAME=config  # Базовое имя JSON-конфига

# Названия страниц в Excel-файле
SIGNALS_SHEET=signals
DEVICES_SHEET=devices

# Названия столбцов в таблице сигналов
SIGNALS_SHEET_DEVICE_COLUMN=device
CODE_COLUMN=code
SIGNAL_TYPE_COLUMN=signal_type
ADDRESS_COLUMN=address
VALUE_TYPE_COLUMN=value_type
ASSET_COLUMN=asset

# Названия столбцов в таблице приборов
GATEWAY_COLUMN=gateway
DEVICES_SHEET_DEVICE_COLUMN=code
COMMON_ADDRESS_COLUMN=common_address

# Тип сигналов, которые обрабатываются
ONLY_SIGNALS_TYPE=Сигнал

# Настройки сервера эмулятора
HOST=0.0.0.0
PORT=502

# Интервал обновления данных (таймер эмулятора)
HOURS=0
MINUTES=0
SECONDS=10

# Уровень логирования
LOGGING_LEVEL=INFO  # DEBUG, INFO, WARNING, ERROR, CRITICAL